---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Gymlink - Link up with like-minded fitness enthusiasts.">
  <main class="bg-dark-500 min-h-screen relative bg-cover bg-center pt-48 text-white mx-auto text-center font-manrope">
    <span class="bg-dark-400 border-[0.5px] border-dark-300 px-4 py-2 rounded-full">Link up with like-minded fitness enthusiasts</span>
    <h1 class="text-5xl font-bold mt-4 mb-2">
      Get active together.
    </h1>
    <h2 class="text-light-400 text-xl">
      Link up with fitness enthusiasts and hit the gym, run, or do some yoga.
    </h2>

    <section class="grid grid-cols-3 max-w-4xl mx-auto mt-24 gap-4">
      <video src="/irl-sf-4.mov" autoplay controls={false} loop muted class="h-full row-span-2 object-cover rounded-2xl"></video>
      <video src="/irl-sf-1.mov" autoplay controls={false} loop muted class="aspect-[1/1.5] object-cover rounded-2xl"></video>
      <video src="/irl-sf-6.mov" autoplay controls={false} loop muted class="aspect-[1/1.5] object-cover rounded-2xl"></video>
      
      <video src="/irl-sf-5.mov" autoplay controls={false} loop muted class="aspect-video col-span-2 object-cover rounded-2xl"></video>
    </section>
  </main>
</Layout>
